@font-face {
	font-family: xixi;
	src: url('../font/XiuSongTi.ttf');
}

body {
	background-image: url("../img/1.jpg");
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.first {
	width: 100%;
	height: 100%;
}

label {
	font-size: 110%
}

.index-menu {
	background-color: #e6f6ec;
	width: 100%;
	height: 6%;
	box-shadow: 0px 6px 0px #b5dfc7;
	opacity: 0.6;
	position: fixed;
	z-index: 10;
	min-width: 1160px;
}

.menu1 {
	float: left;
	width: 15%;
	text-align: center;
	margin-top: 1%;
}

.menu2 {
	width: 55%;
	float: left;
	margin-top: 1%;
}

.title1 {
	margin-left: 20%;
}

.title2 {
	padding-left: 10%;
}

.title3 {
	padding-left: 10%;
}

.menu3 {
	float: right;
	width: 28%;
	margin-top: 0.5%;
	overflow: hidden;
}

.headimg {
	padding-top: 3px;
	width: 28px;
	height: 24px;
	border-radius: 14px 14px 12px 12px;
	border: solid 0.3px;
}

.topicMain1, .topicMain2, .topicMain3, .topicMain4, .topicMain5,
	.topicMain6, .topicMain7, .topicMain8 {
	width: 160px;
	height: 160px;
	position: absolute;
	margin-top: 20%;
	margin-left: 40%;
	z-index: 2;
	opacity: 0.3;
}

.mark {
	position: absolute;
	margin-top: 53%;
	margin-left: 30%;
	font-size: 15px;
	font-family: xixi;
}

.button1, .button2, .button3, .button4, .button5, .button6, .button7,
	.button8 {
	display: none;
	z-index: 1;
	position: absolute;
	color: #996633;
	font-size: 31px;
	font-family: xixi;
}

.weather {
	position: absolute;
	margin-top: 5%;
	margin-left: 88%;
	font-size: 15px;
	font-family: sans-serif;
	color: red;
	z-index: 10;
	width: 10%;
	height: 230px;
	border: outset #e6f6ec 3px;
	text-align: center;
}