body {
	background-image: url("../img/12.jpg");
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

a {
	color: white;
	text-decoration: none
}

input, button, select, textarea {
	outline: none;
}

.logo {
	position: absolute;
	margin-top: 5.1%;
	margin-left: 39.7%
}

.tip1 {
	position: absolute;
	margin-top: 23%;
	margin-left: 23%;
	z-index: 2;
	display: none;
	color: red;
}

.tip2 {
	position: absolute;
	margin-top: 23%;
	margin-left: 52.5%;
	z-index: 2;
	display: none;
	color: red;
}

.logincheck {
	position: absolute;
	margin-top: 15.5%;
	margin-left: 21%;
	color: white;
}

.rememberpass {
	position: absolute;
	margin-top: 15.5%;
	margin-left: 72%;
	color: white;
}

.username {
	position: absolute;
	margin-top: 17%;
	margin-left: 21%;
	padding-left: 45px;
	width: 20%;
	height: 5%;
	border-radius: 7px;
}

.password {
	position: absolute;
	margin-top: 17%;
	margin-left: 53.5%;
	padding-left: 45px;
	width: 20%;
	height: 5%;
	border-radius: 7px;
}

.nameimg {
	position: absolute;
	margin-top: 18.1%;
	margin-left: 21.5%;
	z-index: 2;
}

.passwordimg {
	position: absolute;
	margin-top: 18.1%;
	margin-left: 54%;
	z-index: 2;
}

.check1 {
	position: absolute;
	margin-top: 27%;
	margin-left: 21.5%;
	z-index: 2;
	color: white;
	font-family: Serif;
	font-size: 15px;
}

.loginbut {
	position: absolute;
	margin-top: 25.5%;
	margin-left: 69%;
	z-index: 2;;
	background-size: cover;
	width: 115px;
	height: 45px;
	border-radius: 35px;
	opacity: 0.6;
	border: outset 2px;
	font-size: 20px;
	font-stretch: center;
	font-size: 20px;
}