@font-face {
	font-family: haha;
	src: url('../font/HaTian-JingZhi.ttf');
}

@font-face {
	font-family: xixi;
	src: url('../font/XiuSongTi.ttf');
}

.single_title0 {
	text-align: center;
	position: absolute;
	margin-top: 100px;
	margin-left: 20%;
	width: 60%;
	height: 49px;
}

.single_title {
	background-color: #CCCCCC;
	text-align: center;
	border-radius: 12px 12px 12px 12px;
	color: #CC9966;
	font-family: xixi;
	font-size: 23px;
	padding-left: 5px;
	padding-right: 5px;
}

.single_table {
	text-align: center;
	position: absolute;
	margin-top: 140px;
	margin-left: 30%;
	width: 40%;
	height: 40px;
}

td {
	padding-left: 0px;
	font-size: 12px;
}

.single_div0 {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 190px;
}

.main_louzhu {
	background-color: #99FFCC;
	width: 860px;
	height: auto;
	text-align: left;
	text-indent: 2em;
	padding-top: 12px;
	margin-top: 44px;
	margin-left: auto;
	margin-right: auto;
	font-family: xixi;
	font-size: 16px;
	letter-spacing: 6px;
	padding-left: 9px;
	border: outset 1px;
	border-radius: 3px 0 0 0;
}

.main_content {
	height: auto;
	width: 98%;
	word-wrap: break-word;
	word-break: normal;
}

.main_caozuo {
	margin-right: 0px;;
	width: auto;
	height: 25px;
	letter-spacing: 1px;
	font-size: 14px;
	margin-top: 15px;
}

.main_huifu {
	background-color: #99CCCC;
	width: 860px;
	height: auto;
	text-align: left;
	text-indent: 2em;
	padding-top: 6px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	font-family: xixi;
	font-size: 16px;
	letter-spacing: 3px;
	padding-left: 9px;
	min-height: 200px;
	overflow: auto;
	border: outset 1px;
}

.main_hufuuser {
	background-color: #99CCCC;
	float: left;
	width: auto;
	height: 25px;
	letter-spacing: 1px;
	font-size: 9px;
	margin-top: 15px;
}

.main_huifu_caozuo {
	background-color: #99CCCC;
	float: right;
	width: auto;
	height: 25px;
	letter-spacing: 1px;
	font-size: 9px;
	margin-top: 15px;
	padding-right: 4px;
}

.main_huifu_huifu {
	background-color: #99CCCC;
	width: 760px;
	height: auto;
	text-align: left;
	text-indent: 2em;
	padding-top: 12px;
	margin-top: 9px;
	float: right;
	font-family: xixi;
	font-size: 19px;
	letter-spacing: 3px;
	padding-left: 9px;
	border-top: outset 1px white;
}

.main_huifu_content {
	height: auto;
	width: 98%;
	word-wrap: break-word;
	word-break: normal;
}

.morehuifu {
	height: 16px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 22px;
	clear: both;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 3px;
	border-top: outset 1px #99FF66;
}
.caozuo4{padding-left: 3px;}

.editor2, .editor1{
	width: 866px;
	height: 250px;
	position:fixed;
	bottom:0px;
	left:50%;
	margin-left: -433.5px;
	display: none;
	overflow: scroll;
	
}





